$wrapperSize: 1180px;
$colorBlue: #12AAEA;
$colorDarkBlue: #103A62;
$white: #FFFFFF;
$gray: #CDD3D8;
$darkGray: #666666;
$boxShadow: 2px 2px 5px rgba(0,0,0,0.1);
$headerHeight: 120px;
$imgUrl: '../images/';
$bigFont: 25px;
$midFont: 20px;
$regularFont: 14px;


//fonts
$mtavruli: 'BPG Nino Mtavruli';
$phoneSans: 'BPG Phone Sans';
$nevis: 'nevis';